root{
    --default-font:16px;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: var(--default-font);
}
header{
    height: 7%;
    background-color: #32A05F;
}
.pageContainer{
    display: flex;
    height: 100%;
    margin-left: 20%;
}
#leftPanel{
    width: 20%;
    background-color: #F4F4F4;
    flex-shrink: 0;
    position: fixed;
    left: 0px;
    height: 100%;
}

.user{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1em;
    gap:12px;
    margin-left: 20px;
}
.user>img{
    max-width: 40px;
    height: auto;
}
.folders{
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
    font-size: 0.9em;
}
.folders li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 20px 0 0 20px;
}
.folders li:hover{
    background-color: #eaeaea;
}
.folders li.selected{
    background-color: #dcdcdc;
}
.folders li::before{
    content: "\25BA \0020";
    color:#707070;
    font-size: smaller;
}
.bottom{
    position: absolute;
    bottom:0px;
    text-align: center;
    width: 100%;
    font-weight: 100;
    background-color: transparent;
    border: none;
    border-top: 1px solid #dfdfe0;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: lighter;
}


#contentsList{
    width: 30%;
}
#contentsList .note{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-top: 1px solid #efefef;
    border-right: 1px solid #efefef;

}
#contentsList .note:hover{
    background-color: #f5fffb;
}
#contentsList .note.selected{
    background-color: #eff8f2;
}
#contentsList .updated{
    font-size: 0.6em;
    font-weight: 200;
}
#contentsList .title{
    font-size: 1.2em;
    font-weight: 600;
}
#contentsList .selected .title, #contentsList .selected .description{
    color: #5f6360;
}
#contentsList .description{
    font-size: 0.8em;
    font-weight: 300;
}
#contentsList .tags{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em;
    gap: 5px;
    margin-top: 5px;
}
#contentsList .tag{
    color: #32A05F;
    border-radius: 5px;
    background-color: #e6f4eb;
    padding: 3px;
    font-weight: 500;
}
#contentsList .selected .tag{
    background-color: #d8eee0;
}

#content{
    width: 50%;
}