html, body, section {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
} 
.page-container {
    display: flex;
}
.left-half {
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    flex: 1;
    border-radius: 0% 5% 5% 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(31, 31, 31, 0.4);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 12px;
    padding:30px;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
}
hr{
    max-width: 50px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.name{
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    display: inline-block;
    padding: 10px;
}
.container p{
    margin-bottom: 0;
    margin-top: 0;
}
.large{
    font-size: x-large;
}
.small{
    font-size: small;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
}
.right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    gap: 12px;
}
.right-half>*{
    margin-left: 75px;
}
h1{
    font-size: xx-large;
    font-weight: 600;
}
#signUp, #login{
    background-image: linear-gradient(to right, #3d9c77, #42a77f, #47b287, #4cbe90, #51c998);
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: all .3s ease-in-out ;
}
#signUp:hover, #login:hover{
    transform: scale(1.1);
}
.showPassword{
    font-size: small;
    display: flex;
    align-items: center;
}
input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid #e2e2e2;
    border-radius: 10px;
}

input::placeholder{
    color: #979797;
}
.inputField{
    display: flex;
    flex-direction: column;
}
input, button{
    max-width: 350px;
}

